:root {
  --black: #1b1b1d;
  --gray: #9dafbd;
  --white: #ffffff;
  --yellow: #ffb22c;
  --red: #d3223c;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  ...;
} */

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  ...;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'roboto';
  background-color: var(--black);
  color: var(--white);
}

li,
a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  color: var(--white);
  font-size: 14px;
}

a:hover,
button:hover {
  color: var(--red);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  max-height: 107px;
}

button {
  color: var(--gray);
  background-color: var(--black);
  padding: 15px 10px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  font-size: 14px;
  cursor: pointer;
}

.logo {
  font-size: 20px;
  font-weight: 800;
  padding: 0;
  padding: 0 auto;
}

.img-logo {
  height: 50px;
  border-radius: 50%;
}

.logo div {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Medium devices (tablets, 768px and up)
@media (max-width: 815px) {
  #ire {
    display: none;
  }
}
